html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #272641;
  box-sizing: border-box;
}
#__next {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
  min-width: 360px;
}
.flexFrame {
  display: flex;
  flex-direction: row;
  height: 100%;
}
@media (max-width: 1024px) {
  .flexFrame {
    flex-direction: column-reverse;
    overflow-x: hidden;
  }
}
.twoCol,
.skills {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-left: 90px;
}

.twoCol > div:nth-child(1) {
  width: 50%;
}
.twoCol > div:nth-child(2) {
  width: 50%;
}
@media (min-width: 1025px) {
  .twoCol > div:nth-child(1).about {
    width: 40%;
  }
  .twoCol > div:nth-child(2).about {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .twoCol,
  .skills {
    margin-left: 0px;
  }
  .twoCol > div:nth-child(1) {
    width: 100% !important;
    z-index: 2;
  }
  .twoCol > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
  }
  .skills .left {
    width: 100% !important;
    z-index: 2;
  }
  .skills .right {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: 1;
  }
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1.headline {
  color: #f2f2f2;
  font-size: 65px;
  line-height: 57px;
  margin-bottom: 10px;
}
h2.sub_headline {
  color: #919191;
  font-size: 14px;
  letter-spacing: 2px;
  transition: width 1s ease;
}
@media (max-width: 1400px) {
  .homeColumn {
    padding-left: 5% !important;
  }
}
@media (max-width: 1200px) {
  h1.headline {
    font-size: 54px !important;
    line-height: 53px;
  }
  h2.sub_headline {
    max-width: 100%;
  }
  .skills .left {
    flex: 5 !important;
  }
  .skills .right {
    flex: 5 !important;
  }
}

@media (max-width: 1024px) {
  h1.headline {
    font-size: 65px !important;
  }
  .homeColumn {
    padding-left: 0% !important;
  }
  .homeColumn {
    align-items: center;
  }
  h2.sub_headline {
    max-width: 460px;
  }
}
@media (max-width: 750px) {
  h1.headline {
    font-size: 55px !important;
    line-height: 48px;
  }
  .homeColumn {
    padding-left: 0% !important;
  }
  h2.sub_headline {
    max-width: 395px;
  }
  .textContainer {
    width: 80% !important;
  }
}
@media (max-width: 500px) {
  h1.headline {
    font-size: 47px !important;
    line-height: 40px;
  }
  .homeColumn {
    padding-left: 0% !important;
  }
  h2.sub_headline {
    max-width: 337px;
  }
}

.homeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10%;
  overflow: hidden;
}
.homeColumn.about {
  position: relative;
}
.homeColumn.about,
.skills .homeColumn,
.homeColumn.contact {
  padding-left: 5%;
}

.skills .left {
  flex: 3;
}
.skills .right {
  flex: 7;
}

.morphoShadow {
  box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.08),
    6px 6px 6px rgba(0, 0, 0, 0.4);
}
.morphoShadow.button,
div.morphoShadow {
  background: #272641;
  border-radius: 15px;
}
.morphoShadow.button:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.textContainer {
  width: 70%;
  color: #f2f2f2;
}
.externalLink {
  color: #8680ff;
}

.selected_home svg {
  fill: #6b63ff !important;
  filter: drop-shadow(0px 0px 6px #6b63ff);
}
.selected_about svg {
  fill: #6b63ff !important;
  filter: drop-shadow(0px 0px 6px #6b63ff);
}

.selected_skills g,
.selected_skills svg {
  fill: #6b63ff !important;
  filter: drop-shadow(0px 0px 6px #6b63ff);
}
.selected_contact svg,
.selected_contact g {
  fill: #6b63ff !important;
  filter: drop-shadow(0px 0px 6px #6b63ff);
}
.borderSpinner:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -30%;
  top: -250%;
  width: 160%;
  height: 630%;
  background-color: #272641;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953),
    linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#377af5, #377af5);
  animation: rotate 2s linear infinite;
}

.borderSpinner:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #272641;
  border-radius: 25px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.popUp {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-radius: 16px;
}

.popUp .success {
  background: #399953;
  box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.08),
    16px 16px 16px rgba(0, 0, 0, 0.4);
}
.popUp .error {
  background: #f44336;
  box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.08),
    16px 16px 16px rgba(0, 0, 0, 0.4);
}

.popUpContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: #f2f2f2;
  overflow: hidden;
  border-radius: 16px;
}
a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

.gmap_infobox {
  padding: 12px;
  width: 200px;
  margin: 30px;
  background: #6b63ff;
  color: #fefefe;
  box-shadow: -4px -4px 22px rgba(255, 255, 255, 0.03),
    6px 6px 6px rgba(0, 1, 0, 0.4);
  border-radius: 16px;
}
.gmap_infobox p {
  margin: 0;
}
