.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  z-index: 2;
}

.selected_home {
  color: #6b63ff;
  text-shadow: 0 0 15px #6b63ff;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 0px #6b63ff;
  }
  to {
    text-shadow: 0 0 25px #6b63ff;
  }
}
.homeIcon,
.aboutIcon,
.skillsIcon {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.homeIcon {
  background-image: url("../../assets/icons8_home.svg");
  background-size: 40px;
}
.aboutIcon {
  background-image: url("../../assets/user.svg");
  background-size: 38px;
}
.skillsIcon {
  background-image: url("../../assets/skills.svg");
  background-size: 37px;
}
