.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .navigation {
    width: 100%;
    /*position: relative;*/
    height: auto;
    flex-direction: row;
    padding: 15px 0;
    position: fixed;
  }
  .navigation > span {
    margin: 10px 24px;
  }
}

.homeIcon svg {
  fill: #555;
  /*animation: neonHome 3.5s ease-in-out infinite alternate;*/
}
.aboutIcon svg {
  fill: #555;
  /* animation: neonAbout 3.5s ease-in-out infinite alternate; */
  animation-delay: 1s;
}
.skillsIcon svg,
.skillsIcon g {
  fill: #555;
  /* animation: neonSkills 3.5s ease-in-out infinite alternate; */
  animation-delay: 2s;
}
.mailIcon {
  fill: #555;
}

.homeIcon:hover svg,
.skillsIcon:hover svg,
.skillsIcon:hover g,
.aboutIcon:hover svg,
.mailIcon:hover g,
.mailIcon:hover svg {
  fill: #6b63ff;
  filter: drop-shadow(0px 0px 15px #6b63ff);
}
