.contactButton {
  width: auto;
  height: auto;
  align-self: flex-start;
  margin-top: 20px;
}
.contactButton a {
  display: block;
  padding: 10px 50px;
  border-radius: 13px;
}
@media (max-width: 1024px) {
  .contactButton {
    align-self: center;
  }
}
