.contactButton {
  width: auto;
  height: auto;
  align-self: flex-start;
  margin-top: 20px;
}
.contactButton a {
  display: block;
  padding: 10px 50px;
  border-radius: 13px;
}
@media (max-width: 1024px) {
  .contactButton {
    align-self: center;
  }
}
.myButton {
  font-weight: bold;
}

.myButton:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}
