.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .grid {
    padding: 0px;
    margin-left: 0px;
  }
}

.grid {
  display: grid;
  width: 100%;
  margin-left: 90px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 1em;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.grid_item {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  justify-self: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.grid_item_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: rgba(255, 255, 255, 0.05) -2px -2px 3px,
    rgba(0, 0, 0, 0.2) 3px 3px 3px;
  z-index: 0;
  border-radius: 15px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 15px;

  position: absolute;
}

.front {
  z-index: 0;
}
.front img {
  filter: brightness(0.6);
}
.back {
  transform: rotateY(180deg);
  background: rgb(32, 83, 140);
}

.front .title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
}
.title p {
  font-size: 1.3em;
  color: white;
  margin-left: auto;
  margin-right: 1em;
  text-align: right;
}

.close {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 25px;
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0em 1em;
  grid-template-areas: "card_img title" "card_img tech" "card_img description" "chart duties" "chart links";
}
.card_img {
  background-color: lime;
  grid-area: card_img;
}

.card_chart {
  background-color: lightblue;
  grid-area: chart;
}

.card_title {
  background-color: yellow;
  grid-area: title;
  height: 100px;
}

.card_description {
  background-color: red;
  grid-area: description;
}
.card_links {
  background-color: brown;
  grid-area: links;
}

.card_duties {
  background-color: white;
  grid-area: duties;
}

.card_tech_stack {
  background-color: green;
  grid-area: tech;
}
